body {
    background-color: rgb(93, 192, 223);
}
#messageDiv {
    background-color: rgb(149, 149, 149);
    height: 350px;
    width: 550px;
    margin: auto;
    text-align: center;
}
#title {
    padding-top: 4.55rem;
}
#input {
    margin: auto;
}
#btn {
    background-color: rgb(93, 192, 223);
    height: 2rem;
    font-size: 1rem;
    border-radius: .6rem;
}
#deliveredMessage {
    color: rgb(93, 192, 223);
}